{% include "header.html" %}
<div class="container">
    <div class="row justify-content-between align-items-center">
    <div class="col-lg-7">
        <p class="lead">Welcome to my portfolio site. This is where I'll be displaying some of the things I built. Take a look!</p>
        <h2 class="arbutus-regular">A few notes about me:</h2>
        <ul>
            <li>I'm 27, I live in Valjevo.</li>
            <li>I don't know what to write her, so all this is a placeholder.</li>
            <li>This is also a placeholder.</li>
        </ul>
        <h3 class="arbutus-regular">Tools I use</h3>
        <ul class="nav nav-pills">
            <li class="btn btn-success disabled">Python</li>
            <li class="btn btn-success disabled">SQL</li>
            <li class="btn btn-success disabled">JavaScript</li>
            <li class="btn btn-success disabled">PHP</li>
            <li class="btn btn-success disabled">WordPress</li>
            <li class="btn btn-success disabled">Git</li>
        </ul>
    </div>
    <div class="col-lg-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <a class="btn btn-lg btn-outline-success" href="/projects">Take a look at my projects</a>
            <p class="text-success h2">⇧</p>
        </div>
    </div>
</div>
</div>
{% include "footer.html" %}
