{% include "header.html" %}
<div class="container">
    <div class="row justify-content-between align-items-center">
    <div class="col-lg-7">
        <p class="lead">Welcome to my portfolio site. This is where I'll be displaying some of the things I built. Take a look.</p>
        <h2 class="arbutus-regular">A few notes about me:</h2>
        <ul>
            <li>I'm 27, I live in Valjevo.</li>
            <li>I don't know what to write here, so all this is a placeholder.</li>
            <li>This is also a placeholder.</li>
        </ul>
        <h3 class="pb-2">Tools I use</h3>
        <ul class="nav nav-pills">
            <li class="btn btn-success disabled mr-1 mb-2">Python</li>
            <li class="btn btn-success disabled mr-1 mb-2">SQL</li>
            <li class="btn btn-success disabled mr-1 mb-2">JavaScript</li>
            <li class="btn btn-success disabled mr-1 mb-2">PHP</li>
            <li class="btn btn-success disabled mr-1 mb-2">WordPress</li>
            <li class="btn btn-success disabled mr-1 mb-2">Git</li>
            <li class="btn btn-success disabled mr-1 mb-2">Python</li>
            <li class="btn btn-success disabled mr-1 mb-2">SQL</li>
            <li class="btn btn-success disabled mr-1 mb-2">JavaScript</li>
            <li class="btn btn-success disabled mr-1 mb-2">PHP</li>
            <li class="btn btn-success disabled mr-1 mb-2">WordPress</li>
            <li class="btn btn-success disabled mr-1 mb-2">Git</li>
        </ul>
    </div>
    <div class="col-lg-4">
        <div class="d-flex flex-column align-items-center">
            <a class="btn btn-lg btn-dark mb-3" href="/projects">Take a look at my projects</a>
            <a class="btn btn-lg btn-outline-dark" href="/contact">Let's talk</a>
        </div>
    </div>
</div>
</div>
{% include "footer.html" %}
